@font-face{
    font-family:"JosefinSans-Bold" ;
    src: url(/font/josefine/JosefinSans-Bold.ttf);
}
@font-face{
    font-family:"JosefinSans" ;
    src: url(/font/josefine/JosefinSans-Thin.ttf);
}
@font-face{
    font-family:"aleoregular" ;
    src: url(/font/aleo/aleo-regular-webfont.ttf);
}