@import"normalize.scss";
@import"fonts.scss";
// @import"variables.scss";
@import"mixins.scss";

body{
    color: white;
}
.btn_up {
    z-index: 999;
    position: fixed;
    right: 50px;
    bottom: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
    &_img{
        transform: rotate(90deg);
        width: 50px;
        height: 50px;
    }
  }
header{
    @include block-size;
    @include properties-background;
    background-image: url(../img/back-header.png);
    min-height: 820px;
    .header-content{
        @include flex-center;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        &-headline{
            margin-top: 20%;
            &__title{
                font-size: 48px;
                font-family:"JosefinSans-Bold" ;
                text-transform: uppercase;
                color: white;
                margin: 0 0 17px 0;
            }
            &__discription{
                @include JosefinSans;
                font-size: 22px;
                letter-spacing: 5px;
                margin: 0;
            }
        }
        &-search{
            @include flex-center;
            max-width: 652px;
            width: 100%;
            max-height: 60px;
            height: 100%;
            padding: 2px;
            background-color: white;
            justify-content: space-between;
            margin-bottom: 8%;
            border-radius: 5px;
            &__area{
                height: 100%;
                width: 100%;
                border: none;
                text-align: center;
                padding: 0;
                outline: none;
                font-family: "JosefinSans";
                font-weight: 800;
                color: rgb(4, 0, 255);
                border-radius: 5px;
                &:focus{
                    background-color: #00adff2e;
                }
            }
            &__button__small{
                display: none;
            }
            &__button{
                @include flex-center;
                @include aleoregular;
                justify-content: center;
                max-width: 145px;
                height: 100%;
                width: 100%;
                background-color: #5474fd;
                font-size: 14px;
                border: none;
                position: relative;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 8px 1px black;
                    transition: 0.3s;
                    font-size: 18px;
                    .search__svg{
                        transform: scale(1.2);
                        transition: 0.3s;
                        left: 110px;
                    }
                }
                .search__svg{
                    position: absolute;
                    left: 100px;
                }
            }
        }
        &-scroll{
            @include flex-center;
            flex-direction: column;
            margin-bottom: 7%;
            &:hover{
                cursor: pointer;
            }
           &__item{
                @include JosefinSans;
                font-size: 14px;
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.4);
                    transition: 0.3s;
                }
            }
            .scroll{
                fill: white;
            }
        }
    }
}

.menu{
    // display: none;
    position: sticky;
    top: 0;
    z-index: 52;
    height: 80px;
    background-color: #5474fd;
    padding: 0px calc(50vw - 555px);
    &-block{
        @include flex-center;
        height: 100%;
        justify-content: space-between;
        .menu-block__logo{
            font-family:"JosefinSans-Bold" ;
            font-size: 24px;
    }
    &-item{
        width: 541px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        &__link{
            @include aleoregular;
            text-decoration: none;
            font-size: 14px;
            &:hover{
                color: brown;
            }
            }
        }
    } 
}

.choose{
        @include block-size;
        @include properties-background;
        @include flex-center;
        justify-content: center;
        background-image: url(../img/back-choose.png);
        max-height: 685px;
        &-content{
            @include flex-center;
            justify-content: space-between;
            width: 100%;
            &-text{
                max-width: 440px;
                width: 100%;
                &__title{
                    margin: 0 0 70px 0; 
                }
                &__paragraph{
                    @include JosefinSans;
                    font-size: 16px;
                    margin: 0 0 40px 0;
                }
                &__button{
                    @include button;
                    transition: 0.3s;
                }
            }
            &-picture{
                @include flex-center;
                flex-direction: column;
                &__top{
                    align-self: flex-start;
                    transition: 0.3s;
                }
                &__bottom{
                    align-self: flex-end;
                    padding-top: 5px;
                    transition: 0.3s;
                }
                .choose-content-picture__top:hover,
                .choose-content-picture__bottom:hover{
                    transform: scale(1.3);
                    transition: 0.5s;
                }
            }
        }
        .content__button:hover{
            transform: scale(1.1);
            transition: 0.3s;
        }
    }

    .icon{
        @include block-size;
        max-height: 337px;
        background-color: #333333;
        &-content{
            @include flex-center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            &-block{
                @include flex-center;
                flex-direction: column;
                justify-content: space-between;
                width: 217px;
                height: 120px;
                &__text{
                    @include aleoregular;
                    font-size: 36px;
                    &:hover{
                        color: rgb(168, 158, 17);
                    }
                }
                &__defs{
                    fill: #ff6363;
                    cursor: pointer;
                    &:hover{
                        fill: coral;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .spain-house,
    .spain-mountain{
        @include block-size;
        @include properties-background;
        background-image: url(../img/back-spain-house.png);
        max-height: 700px;
    }
        .spain-content{
            @include flex-center;
            height: 100%;
            &-block{
                background: rgba(0, 0, 0, 0.8);
                padding: 50px 30px  ;
                &__heading,
                &__title,
                &__discription{
                    @include JosefinSans;
                    font-size: 20px;
                }
                &__title{
                    text-transform: uppercase;
                }
                &__discription{
                    font-size: 16px;
                    max-width: 485px;
                }
            }
            .content__button{
                @include button;
            }
        }
    .spain-mountain{
        background-image: url(../img/back-spain-moutain.png);
        .spain-content{
            justify-content: flex-end;       
        }
    }

    .reviews{
        padding: 0px calc(50vw - 310px);
        @include properties-background;
        background-image: url(../img/back-review.png);
        max-height: 755px;
        &-content{
            @include flex-center;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            &__title{
                @include aleoregular;
                align-self: center;
                font-size: 36px;
                margin-top: 8%;
                margin-bottom: 10%;
            }
            &-block{
                display: flex !important;
                max-height: 285px ;
                background-color: #333333 ;
                &__picture{
                    width: 445px;
                    height: 284px;
                }
                &-text{
                    padding: 50px;
                    &__title{
                        @include JosefinSans;
                        font-size: 20px;
                        text-transform: uppercase;
                    } 
                }
            }
        }
    }
    .reviews-content-slick{
        display: flex !important;
        width: 97%;
        margin-bottom: 20%;
        flex-direction: column;
        & .slick-arrow {
            position: absolute;
            top: 44%;
            margin: -30px 0px 0px 0px;
            z-index: 2;
            font-size: 0;
            width: 30px;
            height: 60px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #00000000;
          }
          & .slick-arrow.slick-prev {
            left: -50px;
            background: url("/svg/sl-arrow_l.svg") 0 0 / 100% no-repeat;
          }
          & .slick-arrow.slick-next {
            right: -50px;
            background: url("/svg/sl-arrow_r.svg") 0 0 / 100% no-repeat;
          }
          & .slick-dots {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
          }
          & .slick-dots li {
            list-style: none;
            margin: 20px 0 0 20px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: #ffffff;
            cursor: pointer;
    }
    & .slick-dots button {
        display: none;
      }
      & .slick-dots .slick-active {
        border: #ffffff solid 1px;
        background-color: transparent;
      }
}

footer{
    @include block-size;
    max-height: 265px;
    background-color: #232323 ;
    .footer-content{
        height: 100%;
        @include flex-center;
        flex-direction: column;
        &__title{
            font-family: "JosefinSans-Bold";
            font-size: 24px;
            text-transform: uppercase;
            margin: 120px 0 0 0;
            // align-self: center;
            // почему не ровняет?
        }
        &__discription{
            @include JosefinSans;
            font-size: 16px;
            margin: 20px 0 0 0;
        }
        &-icon{
            display: flex;
            justify-content: space-between;
            max-height: 22px;
            margin-top: 30px;
            width: 170px;
        }
        &__icon{
            fill: white;
            &:hover{
                fill: red;
                transform: scale(1.5);
           }
        }
    }
}
@media screen and (min-width: 359px) and (max-width: 1025px){
    header{
        padding: 0 20px 0 20px;
        height: 100vh;
        .header-content-headline{
            margin-top: 37%;
        }
        .header-content-search{
            width: 100%;
            &__button{
            display: none;
            }
            &__area{
                min-width: 100%;
            }
            &__button__small{
                @include flex-center;
                @include aleoregular;
                justify-content: center;
                max-width: 155px;
                min-height: 50px;
                width: 100%;
                background-color: #5474fd;
                font-size: 14px;
                border: none;
                position: relative;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 100px;
                &:hover{
                    box-shadow: 0 0 8px 1px black;
                    transition: 0.3s;
                }
                .search__svg__small{
                    position: absolute;
                    left: 117px;
                }
            }
        }
    }
    .choose{
        height: 100%;
        padding: 10px calc(50vw - 180px);
        &-content{
            flex-direction: column;
            height: 100%;
            
    &-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            margin-bottom: 20px;
        }
        &__paragraph{
            margin-bottom: 20px;
        }
        &__button{
            margin-bottom: 35px;
        }
    }
    &-picture{
        // height: 300px;
        &__top,
        &__bottom{
            align-self: center;
            width: 270px;
            height: 150px;
            
        }
    }
        }
    }
.icon{
    padding: 10px calc(50vw - 180px);
    height: 200px;
    .icon-content-block{
        height: 100px;
        &__text{
            font-size: 20px;
        }
    }
}

.spain-house,
.spain-mountain{
    // padding: 10px calc(50vw - 180px);
    padding:10px 50px;
    height: 812;

    .spain-content{
        justify-content: center;
        // width: 100%;
        &-block{
            padding: 25px 15px;
            &__title{
                margin: 0;
            }
            &__discription{
                width: 200px;
            }
        }
    }
}
.reviews{
    padding: 10px calc(50vw - 310px);
    // height: 100%;
    &-content{
        padding: 10px;
        align-items: center;
    &__title{
        margin-top: 5%;
        margin-bottom: 4%;
    }
    &-block{
        padding: 10px;
        flex-direction: column;
        max-height: 812px;
        &__picture{
            width: 100%;
        }
        &-text{
            padding: 20px;
        }

    }
}
&-content-slick{
    margin: 0;
}

}
.menu-block{
    justify-content: space-around;
    &-item{
        width: 92%;
    }
    &__logo{
    display: none;
}
}
.menu-block__logo{
    display: none;
}
.slick-next.slick-arrow{
    display: none !important;
}
}
@media screen and (min-width: 1025px) and (max-width: 1770px){
    .spain-house{
        padding: 10px calc(50vw - 510px);
       
    }
    .spain-mountain{
        padding: 10px calc(50vw - 510px);
    }
    .reviews{
        padding: 10px calc(50vw - 510px);
    }
}

// как перебивать в меди запросах как минуниму падинги ширины джастивай контент 
// почему не работает алайн селф
// как прописывать пэдинги калк
// что значит работа со спрайтом с свг